services:
  stardog-cloud-mcp:
    image: stardog-cloud-mcp
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 7001:7000
    environment:
      - SDC_API_TOKEN
      - SDC_ENDPOINT
      - SDC_TIMEOUT
    volumes:
      - ./:/app